.blog {
    max-width: 100%;
    min-width: 80%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h4 {
        @apply: text-minecraft-gold quick-shadow;
    }

    h2,
    h5 {
        @apply: text-minecraft-green quick-shadow;
    }

    h3,
    h6 {
        @apply: text-minecraft-aqua quick-shadow;
    }

    code:not(pre > code) {
        background-color: #272822;
        color: #f8f8f2;
        border-radius: 0.3em;
        padding: 4px 5px 6px;
        white-space: nowrap;
    }

    pre {
        background-color: #272822;
        color: #f8f8f2;
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
    }

    pre code {
        background: none;
        padding: 0;
        white-space: pre-wrap;
    }

    pre>code {
        display: block;
        overflow-x: auto;
    }

    pre>code>span {
        display: inline-block;
    }

    pre>code>span:empty {
        display: none;
    }
}