body.dark {
  color: white;
}

a {
  text-decoration: none;
  color: var(--color-text-accent)
}

a:hover,
a:active {
  color: var(--color-text-active)
}

a:active {
  text-decoration: underline;
}

body {
  background-image: url("/img/spawn.png");
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  z-index: 5;
}

.poke-icon {
  position: absolute;
  top: 25%;
  right: 3rem;
  width: 350px;
  /* Adjust the size as needed */
  height: auto;
  /* Maintain aspect ratio */
  z-index: -10;
}

@media screen and (max-width: 1000px) {
  .poke-icon {
    display: none;
    /* Hide the image on smaller screens */
  }
}