---
import Layout from "../layouts/AstroCraft.astro";

---
<Layout>
	<div class="flex flex-col items-center justify-center gap-20 py-16 h-full">

	  <div class="flex items-center justify-center">

		<div class="flex flex-col items-center justify-center text-center gap-4">
		  <p class="sm:max-w-[95vw] md:max-w-[60ch] text-xl">
			Below are the links to download the <br />
			
			<span class="text-minecraft-gold">Cobblemon Expanded</span> <span class="text-minecraft-red">(by Jonathan)</span> <span class="text-minecraft-green">v1.1.7</span> Modpack  <br />
			
			Used on the <span class="text-minecraft-aqua">Station48</span> Minecraft Server.
          </p>
		  <p class="text-xl">Launcher</p>
		  <ul class="flex items-center gap-4">
			<li><a href="https://modrinth.com/modpack/jonathans-cobblemon-pack" class="minecraft-button p-4 text-xl">Modrinth Launcher ⤴</a></li>
		  </ul>
		</div>

	  </div>

	</div>
	
</Layout>