---
import Layout from "../layouts/AstroCraft.astro";
import { OnlinePlayerList } from "astro-mcserverstatus:components/ssr";
---

<Layout>
	<div class="flex flex-col items-center justify-center gap-20 py-8 h-full">
		<div class="flex items-center justify-center">
			<div
				class="flex flex-col items-center justify-center text-center gap-4"
			>
				<div
					class="bg-block-stonebrick bg-light-level-8 rounded-lg shadow-md"
				>
					<img
						class="rounded-lg p-2"
						src="https://status.minecraftservers.org/classic/675418.png"
						alt="Station48 Cobblemon Minecraft server"
						width="540"
						height="90"
					/>
				</div>
				<div
					class="container bg-block-log_oak bg-light-level-8 rounded-lg shadow-md"
				>
					<iframe
						class="responsive-iframe rounded-lg"
						src="https://map.station48.xyz/#world:106:32:304:445:0:0:0:1:flat"
					></iframe>
				</div>

				<p class="sm:max-w-[95vw] md:max-w-[60ch] text-xl">
					Welcome to <span class="text-minecraft-gold">Station48</span
					>, a <span class="text-minecraft-green"
						>all Inclusive and Welcoming Community Minecraft Server</span
					> for <span class="text-minecraft-red">all Players</span>,
					Devs and non-devs alike! We are a community of developers <i
						class="text-minecraft-purple-light"
						>(Mostly Astro Devs)</i
					>, builders, and players who love to <span
						class="text-minecraft-gold"
						>relax, create, and play Minecraft together</span
					>.
				</p>
				<p class="sm:max-w-[95vw] md:max-w-[60ch] text-xl">
					We have a <span class="text-minecraft-gold">variety</span> of
					<span class="text-minecraft-aqua">Mods</span> to help make your
					experience <span class="text-minecraft-green"
						>as enjoyable as possible</span
					>! We are <span class="text-minecraft-red">always</span> looking
					for new members to join our community and help us grow. <span
						class="text-minecraft-aqua"
						>So come join us and start building your dream world
						today</span
					>!
				</p>
				<ul class="flex items-center gap-4">
					<li>
						<a
							href="/get-started"
							class="minecraft-button p-4 text-xl"
							>Learn how to Get Started!</a
						>
					</li>
				</ul>
			</div>
		</div>

		<div
			id="mcplayerlist"
			class="sm:max-w-[95vw] md:max-w-[60ch] md:pt-12 text-xl flex flex-col items-center justify-center text-center"
		>
			<div>Wonder who is online? <br /> Just check Here!</div>
			<OnlinePlayerList />
		</div>
	</div>
</Layout>

<style>
	@media screen and (min-width: 1430px) {
		#mcplayerlist {
			position: absolute;
			top: 10rem;
			left: 2rem;
		}
	}

	@media screen and (max-width: 620px) {
		#mcserverbanner {
			scale: 0.8;
		}
	}

	.container {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	}

	/* Then style the iframe to fit in the container div with full height and width */
	.responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border: 0;
		padding: 0.5rem;
	}
</style>
