---
import Layout from "../../layouts/AstroCraftBlog.astro";
import { getCollection } from "astro:content";
import { filterDrafts } from "../../lib/filters";

// Import the blog collection from the content collections
const news = await getCollection("news");

// Filter out drafts if necessary (optional, depending on your needs)
const filteredNews = filterDrafts(news);
---

<Layout
	subtitle="News"
	description="Latest updates and news from the Station48 Minecraft server"
>
	<h1 class="text-4xl font-bold mb-8">News</h1>

	{
		filteredNews.length === 0 && (
			<p class="text-minecraft-red text-xl">
				No news posts available at the moment.
			</p>
		)
	}

	<div class="grid-layout">
		{
			filteredNews.map((post) => (
				<a
					href={`/news/${post.slug}`}
					class="flex flex-col items-center hover:underline bg-block-planks_oak bg-light-level-8 rounded-lg shadow-md"
				>
					<div
						class="text-minecraft-gold text-3xl flex items-center justify-center p-4"
						id="post-title"
					>
						{post.data.title}
					</div>

					<p class="text-minecraft-aqua text-sm">
						{new Date(post.data.date).toLocaleDateString()}
					</p>
				</a>
			))
		}
	</div>

	<style>
		/* Grid example: responsive cards */
		.grid-layout {
			width: 100%;
			max-width: 1200px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 1rem;
		}

		#post-title {
			text-align: center;
		}
	</style>
</Layout>
