---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "../styles/reset.css";
import "../styles/minecraft.css";
import Head from "../components/Head.astro";

type Props = {
  navbar?: boolean;
  footer?: boolean;
  subtitle?: string;
  description?: string;
};

const { navbar = true, footer = true, subtitle, description } = Astro.props;
---

<html>
  <head>
    <Head {subtitle} {description} />
  </head>
  <body
    class="dark flex flex-col min-h-screen p-0 m-0 bg-block-stone bg-light-level-4 scrollbar font-minecraft"
  >
    {navbar && <Navbar />}
    <div class="grow p-4 minecraft minecraft-prose blog">
      <slot />
    </div>
    {footer && <Footer />}

    <style is:global>
      .blog {
        max-width: 100%;
        min-width: 80%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1,
      h4 {
        @apply: text-minecraft-gold;
      }

      h2,
      h5 {
        @apply: text-minecraft-green;
      }

      h3,
      h6 {
        @apply: text-minecraft-aqua;
      }
    </style>
  </body>
</html>
