---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import type { LayoutProps } from "./layoutProps";
import { Image } from "astro:assets";
import magikarp from "../assets/magikarp.webp";

interface Props extends LayoutProps {}

const { navbar = true, footer = true, subtitle, description } = Astro.props;
---

<html>
  <head>
    <Head {subtitle} {description} />
  </head>
  <body
    class="dark flex flex-col min-h-screen p-0 m-0 bg-light-level-8 scrollbar font-minecraft"
  >
    {navbar && <Navbar />}
    <div class="grow p-4 minecraft minecraft-prose blog">
      <div class="content">
        <slot />
      </div>
      <Image src={magikarp} alt="Magikarp" class="poke-icon" />
    </div>
    {footer && <Footer />}
  </body>
</html>
