---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import type { LayoutProps } from "./layoutProps";

interface Props extends LayoutProps {}

const { navbar = true, footer = true, subtitle, description } = Astro.props;
---

<html>
  <head>
    <Head {subtitle} {description} />
  </head>
  <body
    class="dark flex flex-col min-h-screen p-0 m-0 bg-block-stone bg-light-level-4 scrollbar font-minecraft"
  >
    {navbar && <Navbar />}
    <div class="grow p-4 minecraft minecraft-prose blog">
      <slot />
    </div>
    {footer && <Footer />}
  </body>
</html>
